// Estilos de angular material

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  // Estilos de complemento
  
  .tarjeta {
    height: 32rem;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
  }
  
  .full-h {
    height: 100vh;
    background-color:#830864;
  }
  
  .boton {
    width: 200px;
    align-items: flex-end;
    margin-right: 10px;
  }


  