/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tp-color{
    background-color: #830864;
    color: #fff;
}

a{
    text-decoration: none !important;
}

