<div class="d-flex justify-content-center align-items-center full-h">
  <div>
    <mat-card class="mat-elevation-z8 tarjeta">
        <div class="text-center">
            <img [src]="'./assets/Imag/logo.png'" alt="">
        </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSumit()" class="example-form">
        <mat-form-field class="example-full-width mt-3" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
          <mat-error *ngIf="formGroup.controls['email'].hasError('minLength')">
            minimo 6 caracteres
          </mat-error>
          <mat-error *ngIf="formGroup.controls['email'].hasError('required')">
            El email es <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="formGroup.controls['email'].hasError('email')" >
            debe ser un email <strong>valido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width mt-3" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-error
            *ngIf="formGroup.controls['password'].hasError('minLength')"
          >
            Minimo 4 caracteres
          </mat-error>
          <mat-error
            *ngIf="formGroup.controls['password'].hasError('required')"
          >
            El pasword es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
        
        <div class="text-center">
          <mat-error *ngIf="error.length > 1">
            <strong>{{error}}</strong>
          </mat-error>
        </div>

        <a routerLink= "/registro">¿no tienes usuario?</a>
       
        <div class=" text-center mt-5">
          <button type="submit" class="tp-color" mat-raised-button >
            Login
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
